---
---
{% assign section = page.filePathStem | split: "/" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if title != "" %}{{title}} | {% endif %}{{config.site_name}}</title>
    <meta
      property="og:title"
      content="{% if title %}{{title}} | {% endif %}{{config.site_name}}"
    />
    <meta property="og:site_name" content="{{config.site_name}}" />
    <meta property="og:url" content="{{config.site_url}}" />
    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="{{config.site_short_name}} documentation."
    />
    <meta property="og:image" content="{{config.site_favicon_location}}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="{{config.twitter_username}}" />
    <meta name="twitter:title" content="{{config.site_name}}" />
    <meta
      name="twitter:description"
      content="{{config.site_short_name}} documentation."
    />
    <meta name="twitter:image" content="{{config.site_favicon_location}}" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" type="image/png" href="{{config.site_favicon_location}}" />
    <link href="/static/styles.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="nav-bar">
        <a href="/"><h1 class="nav-title full_name">{{config.site_name}}</h1><h1 class="nav-title short_name">{{config.site_short_name}}</h1></a>
        <ul>
          {% for entry in config.navigation %}
          <li>
            <a
              class="{% if page.filePathStem contains entry.path %}active{% endif %}"
              href="{{ entry.path }}"
            >
              {{ entry.name }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="container content">
      {% if section and collections[section[1]] %}
        <div class="sidebar-content">
          <ul>
            {%- for entry in collections[section[1]] -%}
              <li><a href="{{ entry.url }}" title="{{ entry.data.title }}" >{{ entry.data.title }}</a></li>
            {%- endfor -%}
        </ul>
      </div>
      {% endif %}
      <div>{{ content }}</div>
    </div>

    <div class="container">
      <div class="footer">
        {% for entry in config.footer %}
          <a title="{{entry.title}}" href="{{entry.url}}" target="_blank">{{entry.title}}</a>
          {% unless forloop.last %}<span class="serperator">–</span>{% endunless %}
        {% endfor %}
      </div>
    </div>
  </body>
</html>
